<center><i>...from the bright, shiny whiteboards of 
<img src="http://www.great-big.com/uploads/1/8/5/7/18577644/943454.jpg" height="75px"> 
we present...</i></center>
<div class="jumbotron">
	<h1>DevNet 1.0</h1>
	<p>The Creative Developers Comunity</p>

	
		<% if current_user.present? %>
		  <div class="btn btn-primary btn-lg">
		  	<%= link_to "ENGAGE with the creative community!", "/users/#{current_user.id}" %>
		  </div>
	  <% else %>
		  <div class="btn btn-default btn-lg">
		  	<%= link_to "Sign In", "/sessions/new" %>
		  </div>
		  <div class="btn btn-primary btn-lg">
		    <%= link_to "Sign Up", "/users/new" %>
		  </div>
	  <% end %>
	
</div>