<p>from the bright, shiny whiteboards of </p>
<h1>Great Big Enterprises</h1>
<p>we present</p>
<h1>DevNet 1.0</h1>
<h2>Comarderie Collaboration Creation</h2>

<%= link_to "Sign Up (its FREE!)", '/users/new' %>

<%= link_to "Log In", '/sessions/new' %>

<%= link_to "Logout", '/logout' %>