<form action="/users" method="post" class="input-group">

  <input type="text" placeholder="name" name="user[username]">

  <input type="text" placeholder="email" name="user[email]">

  <input type="text" placeholder="link to profle pic" value="http://www.tenniswood.co.uk/wp-content/uploads/2010/01/design-fetish-no-photo-facebook-5.jpg" name="user[img_link]">

 <input type="password" placeholder="password" name="user[password">

  <input type="password" placeholder="password confirmation" name="user[password_confirmation]">

  <input type="submit">

</form>   

