<form method="post" action="create">
	<input type="text" placeholder="enter app name" name="new_app[app_name]"> 
    <br><input type="text" placeholder="enter a desription" name="new_app[app_desription]">
    <br><input type="url" placeholder="enter an image URL" name="new_app[app_image]">
	<br> <input type="url" placeholder="enter app URL" name="new_app[app_link]">
	<br><input type="url" placeholder="enter app URL" name="new_app[git_link]">
	<br><button type="submit">Add My App!</button>
</form>